.upload-panel {
    text-align: center;
    height: 850px;
}

.upload-area, .images-area {
    width: 100%;
    max-width: 500px;
    border: 2px dashed #ccc;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.upload-area {
    height: 240px;
}

.images-area {
    height: 500px;
    position: relative;
}

.images-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    color: red;
}

.upload-area p {
    text-align: center;
}

.image-box {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 5px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.file-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.file-label p {
    font-size: 26px;
    text-align: center;
}